.button-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    gap: 20px; /* Optional: space between buttons */
  }

  @media (max-width: 400px) {
  }

  input {
    margin-bottom: 10px;
    margin: 10px;
    padding: 8px;
    font-size: 14px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    margin-right: 10px;   
  }

  .button-row {
    margin-top: 25px; /* Adjust as needed */
    margin-right: 10px; 
    margin: 20px;
  }

  .body {
    width: calc(100% - 5rem);
    margin-left: 0rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: #f4f7fa;
    padding: 3rem;
  }

  .file-input {
    display: none;
  }