<mat-tab-group>
    <mat-tab label="Diagram 1">
        <app-broj-kvarova-po-prevoznomsredstvu></app-broj-kvarova-po-prevoznomsredstvu>
        <h4 class="label">UKUPAN BROJ KVAROVA PO PREVOZNOM SREDSTVU</h4>
    </mat-tab>
    <mat-tab label="Diagram 2">
        <app-ukupni-prihodi-prevoznosredstvo></app-ukupni-prihodi-prevoznosredstvo>
        <h4 class="label">PRIHODI PO PREVOZNOM SREDSTVU</h4>
    </mat-tab>
    <mat-tab label="Diagram 3">
        
        <h4 class="label">PRIHODI PO PREVOZNOM SREDSTVU</h4>
    </mat-tab>
</mat-tab-group>

