<div class="container">

  <h2 mat-dialog-title class="header">Automobil {{data.objectId}}</h2>
  <mat-dialog-content>
    <p><strong>Object id:</strong> {{ data.objectId }}</p>
    <p><strong>Datum Nabavke:</strong> {{ data.datumNabavke }}</p>
    <p><strong>Cijena nabavke:</strong> {{ data.cijenaNabavke }}</p>
    <p><strong>Naziv proizvodjaca:</strong> {{ data.proizvodjac.naziv }}</p>
    <p><strong>Email proizvodjaca:</strong> {{ data.proizvodjac.email }}</p>
    <p><strong>Model:</strong> {{ data.model }}</p>
    <p><strong>Kvarovi:</strong> </p>
      <ul>
        <li *ngFor="let kvar of data.kvarovi">
          <p>{{ kvar.opis }} </p>
          <p>{{ kvar.datum }} </p>
        </li>
      </ul> 
   
    <p><strong>Iznajmljen:</strong> {{ data.iznajmljeno }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>

    <button mat-raised-button color="primary" (click)="onCancelClick()">CLOSE</button>
  </mat-dialog-actions>
</div>

<!-- How it looks if there is array inside object
  <div *ngFor="let address of data.addresses">
      <p><strong>Street:</strong> {{ address.street }}</p>
      <p><strong>City:</strong> {{ address.city }}</p>
      <p><strong>Zipcode:</strong> {{ address.zipcode }}</p>
      <hr />
    </div>
-->