<mat-dialog-content>
    <h1>Create automobil</h1>
    <div class="form-group"> 
      <mat-form-field>
        <mat-label>ObjectID</mat-label>
        <input matInput [(ngModel)]="data.objectId" />
      </mat-form-field>
    </div>

    <div class="form-group"> 
      <mat-form-field>
        <mat-label>Naziv proizvodjaca</mat-label>
        <input matInput [(ngModel)]="data.nazivP" />
      </mat-form-field>  
    </div>
    
    <div class="form-group"> 
      <mat-form-field>
        <mat-label>Email proizvodjaca: </mat-label>
        <input matInput [(ngModel)]="data.emailP" />
      </mat-form-field>
    </div>

    <div class="form-group"> 
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput [(ngModel)]="data.model" />
      </mat-form-field>
    </div>

    <div class="form-group"> 
      <mat-form-field>
        <mat-label>Cijena nabavke</mat-label>
        <input matInput [(ngModel)]="data.cijenaNabavke" />
      </mat-form-field>   
    </div>

    <div class="form-group"> 
      <mat-form-field>
        <mat-label>Datum Nabavke</mat-label>
        <input matInput [(ngModel)]="data.datumNabavke" />
      </mat-form-field> 
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</mat-dialog-actions> 
